bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.Warbud.Revit.Server/.idea/.name
.idea/.idea.Warbud.Revit.Server/.idea/aws.xml
.idea/.idea.Warbud.Revit.Server/.idea/encodings.xml
.idea/.idea.Warbud.Revit.Server/.idea/indexLayout.xml
.idea/.idea.Warbud.Revit.Server/.idea/vcs.xml
Warbud.Revit.GQL/
